/* import font style */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f7ff !important;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-blue-green {
  color: #00cec9 !important;
}
.bg-blue-green {
  background-color: #00cec9 !important;
}

.birdstory-logo {
  font-family: "Courgette", cursive;
}

.pointer {
  cursor: pointer;
}
/* button style */

.btn-blue-green {
  background-color: #00cec9;
  border: none;
  outline: none;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
}
